name: My First Workflow
on: 
  push :
        branches:
          - main
          - test

permissions:
  id-token: write
  contents: read


jobs:
  my-prod-job:
    runs-on: ubuntu-latest
    environment: "PROD"
    if : github.ref == 'refs/heads/main'
    env:
      VITE_SERVER_URL : "https://api.mostorage.cloud"
      VITE_RAZORPAY_KEY_ID : "rzp_test_RUWjBPx6hUebvc"
    
    steps:
      - run: echo ${{secrets.usersecrete}}
      - uses:  actions/checkout@v4

      - name: "install packages" 
        run: npm ci

 
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::133014338522:role/new_bucket_for_github_actions
          aws-region: ap-south-2

      - name: "Upload files to S3"
        run: aws s3 sync ./dist s3://sanat08-frontend-deployment --delete

      - name: "adding invalidation"
        run : aws cloudfront create-invalidation --distribution-id E2YZHDHRG7WTPW --paths "/index.html"
  test-job:
    runs-on: ubuntu-latest
    environment: "TEST"
    if : github.ref == 'refs/heads/test'
    env:
      VITE_SERVER_URL : "https://api.mostorage.cloud"
      VITE_RAZORPAY_KEY_ID : "rzp_test_RUWjBPx6hUebvc"
    
    steps:
      - run: echo "This is test brach workflow"

      - run: git clone https://github.com/yesboss08/StoreX_Client_Backup.git

      - name: installing the packages
        run: npm ci
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::133014338522:role/new_bucket_for_github_actions
          aws-region: ap-south-2

      

      - name: "Upload files to S3"
        run: aws s3 sync ./dist s3://sanat08-frontend-deployment --delete

      - name: "adding invalidation"
        run : aws cloudfront create-invalidation --distribution-id E2YZHDHRG7WTPW --paths "/index.html"



        # run the aws cli with out any 3rd party actions 

# jobs:
#   build:
#     runs-on: ubuntu-latest
#     environment: "PROD"
#     steps:
#       - name: command with env
#         env:
#           AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY }}
#           AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET }}
#           AWS_DEFAULT_REGION: ${{ secrets.AWS_REGION }}
#         run: aws s3 ls