name: My First Workflow
on: push

jobs:
  my-prod-job:
    runs-on: ubuntu-latest
    environment: "PROD"
    env:
      USER: "boss is back"
    steps:
      - run: echo ${{secrets.usersecrete}}
      - run: echo ${{vars.username}};


  my-test-job:
    runs-on: ubuntu-latest
    environment: 'TEST'
    steps:
      - run: echo ${{secrets.usersecrete}}
      - run: echo ${{vars.username}}; 
