name: My First Workflow
on: push

permissions:
  id-token: write
  contents: read


jobs:
  my-prod-job:
    runs-on: ubuntu-latest
    environment: "PROD"
    env:
      USER: "boss is back"
    steps:
      - run: echo ${{secrets.usersecrete}}
      - run: echo ${{vars.username}};


  my-test-job:
    runs-on: ubuntu-latest
    environment: 'TEST'
    env:
      VITE_SERVER_URL : "https://api.mostorage.cloud"
      
    steps:
      - run: echo ${{secrets.usersecrete}}
      - uses:  actions/checkout@v4

      - run: node app.js
      - run: ls -a 
 
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::133014338522:role/new_bucket_for_github_actions
          aws-region: ap-south-2

      

      - name: "Upload files to S3"
        run: aws s3 sync ./dist s3://sanat08-frontend-deployment --delete

      - name: "adding invalidation"
        run : aws cloudfront create-invalidation --distribution-id E2YZHDHRG7WTPW --paths "/index.html"