name: "Store-X-Server"
on:
  push:
    branches: [ main ]


jobs:
  build:
    runs-on: ubuntu-latest
    environment: "PROD"
    env:
      user_host: "18.61.85.155"
      user_name: "ubuntu"


    steps:
      - name: setup ssh
        run: |
          mkdir -p ~/.ssh
          echo "${{secrets.EC2_SSH_KEY}}" > ~/.ssh/privatekey
          ls ~/.ssh
          chmod 600 ~/.ssh/privatekey
          ssh-keyscan -H ${{env.user_host}} >> ~/.ssh/known_hosts

      - name: deploy in remote ec2
        
        run: |
         ssh ${{env.user_name}}@${{env.user_host}} 'bash -s' << 'EOF'
         set -e
         cd "/home/ubuntu/StoreX_Server_Backup"
         git pull
         npm ci
         pm2 restart storageApp
         EOF
      
      