name: "Store-X-Server"
on:
  push:
    branches: [ main ]


jobs:
  build:
    runs-on: ubuntu-latest
    environment: "PROD"
    steps:
      - name: Run command with step env
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET }}
          AWS_DEFAULT_REGION: ${{ secrets.AWS_REGION }}
        run: aws s3 ls
      
      