name: "Store-X-Server"
on:
  push:
    branches: [ test ]


jobs:
  build:
    runs-on: ubuntu-latest
    environment: "PROD"
    env:
      user_host: "18.61.85.155"
      user_name: "ubuntu"

      if : github.ref == "refs/head/main"
    steps:
      - name: setup ssh
        run: |
          mkdir -p ~/.ssh
          echo "${{secrets.EC2_SSH_KEY}}" > ~/.ssh/privatekey
          ls ~/.ssh
          chmod 600 ~/.ssh/privatekey
          ssh-keyscan -H ${{env.user_host}} >> ~/.ssh/known_hosts

      - name: deploy in remote ec2
        
        run: |
         ssh -i ~/.ssh/privatekey ${{env.user_name}}@${{env.user_host}} 'bash -s' << 'EOF'
         set -e
         cd "/home/ubuntu/StoreX_Server_Backup"
         ls -a
         EOF
      
       #  git pull
        #  npm ci
        #  pm2 restart storageApp


  test:
    runs-on: ubuntu-latest
    environment : "TEST"
    env:
      user_host: "18.61.85.155"
      user_name: "ubuntu"
     
      if : github.ref == "refs/head/test"
    
    steps:
      - name: Action SSH
        id: action-ssh
        uses: tiyee/action-ssh@v1.0.1
        with:
          host: ${{ env.user_host }} 
          port: 22
          username: ${{ env.user_name}} 
          privateKey: ${{ secrets.EC2_SSH_KEY }} 
          command: |
           ls -a 
           pm2 list